body {
	margin: 0;
	font-family: Helvetica;
	background-color: #c9cdd3;
}

div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50vh;
	flex-flow: column;
}

h1 {
	font-weight: 100;
}

h2 {
	font-weight: 100;
}

p {

}

